.post-wrapper {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    border-radius: 4px;
    border: 1px solid #C2C2C2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    margin: 6px;
    min-height: 528px;
}

.header {
    height: 50px;
    padding: 12px 10px;
    border-radius: 4px 4px 0 0;

    background: #FFFFFF;

    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;

    margin-right: 10px;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-bottom: 2px;
}

.date {
    color: #969696;
    margin-left: auto;
}

.divider{
    margin: 0 10px;
    border: 0.5px solid #F3F3F3;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-img-sm {
    width: 50%;
    height: auto;
    border-radius: 3px 0 0 3px;

    object-fit: cover;
}

.like {
    display: flex;
    align-items: center;

    padding: 16px 10px;

}
.like-btn {
    width: 14px;
    height: 14px;
    margin-right: 4px;

    background-image: url('../../../assets/images/empty_like.png');
    background-size: 100%;
    background-repeat: no-repeat;

    cursor: pointer;
}

.post-title {
    margin: 0 10px 6px 10px;

    white-space: pre-line;
}

.post-desc {
    font-size: 13px;
    color: #4A4A4A;
    margin: 0 10px 24px 10px;

    white-space: pre-line;
    /*overflow: hidden;*/
}

.post-text {
    padding: 4px 14px
}

@media only screen and (max-width: 767px) {
    .post-wrapper {
        min-height: 320px;
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .post-text {
        padding: 0;
    }
}

